In [64]:
import pandas as pd
import numpy as np

In [65]:
pd.set_option("display.max_columns", None)

In [66]:
df = pd.read_csv("STUDENTS_RAW_DATA (1).csv")

In [67]:
df.head()

,student_id,age,gender,city,course_stream,study_hours_per_week,attendance_rate,prior_gpa_10pt,has_internet,device_type,parental_education,test_score,admission_date,fee_paid_inr,scholarship,comments
0,S0001,24,Female,Mumbai,MCA,11.2,46.2,6.88,Unknown,NaN,PhD,58.4,11-08-2023,63952,Partial,
1,S0002,21,,Mumbai,BBA,14.9,64.3,5.87,N,Mobile,NaN,85.8,2023-04-29,62085,Yes,Late enrollment
2,S0003,24,Female,Bengaluru,NaN,13.4,57.7,10.29,N,Tablet,NaN,89.3,29/08/2023,55598,Yes,Transferred from another program
3,S0004,28,FEMALE,Remote,ME,8.9,64.6,7.27,N,Laptop,Undergrad,59.4,02-02-2024,54627,Partial,Good coder
4,S0005,21,Male,Bengaluru,EE,11.0,52.2,7.22,Unknown,Desktop,PhD,55.5,01-15-2024,NaN,No,NaN

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   student_id            205 non-null    object
 1   age                   205 non-null    int64
 2   gender                201 non-null    object
 3   city                  201 non-null    object
 4   course_stream         161 non-null    object
 5   study_hours_per_week  201 non-null    float64
 6   attendance_rate       205 non-null    float64
 7   prior_gpa_10pt        202 non-null    float64
 8   has_internet          201 non-null    object
 9   device_type           171 non-null    object
 10  parental_education    159 non-null    object
 11  test_score            203 non-null    float64
 12  admission_date        205 non-null    object
 13  fee_paid_inr          198 non-null    object
 14  scholarship           154 non-null    object
 15  comments              166 non-null    object
dtypes: float64(4), int64(1), object(11)
memory usage: 25.8+ KB

In [69]:
df.isna().sum()

student_id               0
age                      0
gender                   4
city                     4
course_stream           44
study_hours_per_week     4
attendance_rate          0
prior_gpa_10pt           3
has_internet             4
device_type             34
parental_education      46
test_score               2
admission_date           0
fee_paid_inr             7
scholarship             51
comments                39
dtype: int64

In [70]:
placeholders = ["NA", "N/A", "na", "-", "--", "unknown", "Unknown", ""]

In [71]:
df.replace(placeholders, np.nan, inplace=True)

In [72]:
text_cols = df.select_dtypes(include="object").columns
for col in text_cols:
    df[col] = df[col].str.strip().str.lower()

In [73]:
df["admission_date"] = pd.to_datetime(df["admission_date"], errors="coerce")

In [74]:
numeric_cols = ["age", "study_hours_per_week","attendance_rate", "prior_gpa_10pt","test_score", "fee_paid_inr"]
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [75]:
df.drop_duplicates(inplace=True)

In [76]:
df.loc[df["prior_gpa_10pt"] > 10, "prior_gpa_10pt"] = np.nan
df.loc[df["attendance_rate"] > 100, "attendance_rate"] = np.nan

In [77]:
df["study_hours_per_week"] = df["study_hours_per_week"].clip(0, 80)

In [78]:
df["attendance_rate"] = df["attendance_rate"].fillna(df["attendance_rate"].median())

In [79]:
df_model = pd.get_dummies(df, drop_first=True)

In [80]:
df.to_csv("STUDENTS_CLEANED_DATA.csv", index=False)
df_model.to_csv("STUDENTS_MODEL_DATA.csv", index=False)